<div class="container">

  <h2 class="episode-title center-align">{{episodeInfo.title}}</h3>

  <div class="center-align img-container">
    <img class="img-preview lazyload" src="{{episodeInfo.thumbnail}}" data-src="{{episodeInfo.image}}">
  </div>

  <h6 class="center-align">Season {{episodeInfo.seasonNumber}}, Episode {{episodeInfo.episodeNumber}}</h6>

  <h6 class="center-align">Originally Aired {{episodeInfo.firstAired}}</h6>

  <div class="episode-buttons center-align">
    <a class="waves-effect waves-red btn" target="_blank" href="{{episodeInfo.huluLink}}/">Watch at Hulu</a>
    <a class="waves-effect waves-light btn" target="_blank" href="http://www.imdb.com/title/{{episodeInfo.imdbId}}/">More info at IMDB</a>
  </div>

</div>

<hr>

<div class="container">

  <p class="center-align">Search for another episode</p>
  {{>episode_form}}

</div>
