

<div class="container mobile-container">

  <div class="center-align img-wrapper">
    <div class="img-container lazyload"  style="background-image:url({{episode.thumbnail}})" data-bg="{{episode.image}}">
    </div>
  </div>

</div>

<div class="container">

  <div class="summary-container">
    <p>{{{episode.summary}}}</p>
  </div>

  
  <div class="episode-info-container">
    <div class="card collection">
      <table class="striped">
        <tr>
          <td class="left">Season</td>
          <td class="right-align">{{episode.season}}</td>
        </tr>
        <tr>
          <td class="left">Episode</td>
          <td class="right-align">{{episode.episode}}</td>
        </tr>
        <tr>
          <td class="left">Originally Aired</td>
          <td class="right-align">{{episode.firstAired}}</td>
        </tr>
        {{#if episode.writers}}
          <tr>
            <td class="left">Written By</td>
            <td class="right-align">{{episode.writers}}</td>
          </tr>
        {{/if}}
      </table>
    </div>
  </div>

  <div class="episode-buttons center-align">
    <a class="waves-effect waves-red btn" id="web-watch-link" target="_blank" href="{{episode.webLink}}/">Watch at Hulu</a>
    <a class="waves-effect waves-red btn" id="mobile-watch-link" target="_blank" href="{{episode.mobileLink}}/">Watch on Hulu App</a>
    <a class="waves-effect waves-light btn" target="_blank" href="http://www.imdb.com/title/{{episode.imdbId}}/">More info at IMDB</a>
  </div>

</div>

<hr>

<div class="container">

  <p class="center-align">Search for another episode</p>
  {{>episode_form}}

</div>
