<div class="container">
  <div class="youtube-container center-align">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/{{video.youTubeId}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="episode-info-container">
      <div class="card collection">
        <table class="striped">
          {{#if video._episode}}
            <tr>
              <td class="left">Episode</td>
              <td class="right-align">
                <div class="chip blue-grey lighten-4">
                  <a href="/episode/{{video._episode.slug}}">{{video._episode.title}}</a>
                </div>
              </td>
            </tr>
          {{/if}}
          {{#if video.tags}}
            <td class="left">Tags</td>
            <td class="right-align">
              {{#each video.tags}}
                <div class="chip blue-grey lighten-4">
                  <a href="/random-video?tag={{this.slug}}">{{this.title}}</a>
                </div>
              {{/each}}
            </td>
          {{/if}}
        </table>
      </div>
    </div>
  </div>
</div>
