<div class="container">

  <div class="row">
    {{#each videos}}
      <div class="col s6 m4">
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/{{this.youTubeId}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <ul class="collection">
          <li class="collection-item">{{this.title}}</li>
          {{#if this._episode}}
            <li class="collection-item">Episode: {{this._episode.title}}</li>
          {{/if}}
          {{#if this.tags}}
            <li class="collection-item">
              {{#each this.tags}}
                <div class="chip blue-grey lighten-4">
                  {{this.title}}
                </div>
              {{/each}}
            </li>
          {{/if}}
        </ul>
        <a href="/admin/videos/{{this.slug}}/edit" class="btn waves-effect waves-light">Edit Video
          <i class="material-icons right">edit</i>
        </a>
      </div>
    {{/each}}
  </div>

  <hr>

  <div class="button-container">
    <a href="/admin/videos/new" class="btn waves-effect waves-light">Add Video
      <i class="material-icons right">send</i>
    </a>
  </div>

</div>
