<div class="container">

  {{> paginate}}

  <div class="row">
    {{#each videos}}
      <div class="col m6 l4">
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/{{this.youTubeId}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card collection">
          <table class="striped">
            <tr>
              <td class="left">Title</td>
              <td class="right-align">{{this.title}}</td>
            </tr>
            <tr>
              <td class="left">Episode</td>
              <td class="right-align">
                <div class="chip blue-grey lighten-4">
                  {{#if this._episode}}
                    <a href="/episode/{{video._episode.slug}}">{{this._episode.title}}</a>
                  {{else}}
                    Compilation Clip
                  {{/if}}
                </div>
              </td>
            </tr>
            <tr class="tag-row">
              <td class="left">Tags</td>
              <td class="right-align">
                {{#each this.tags}}
                  <div class="chip blue-grey lighten-4">
                    <a href="/random-video?tag={{this.slug}}">{{this.title}}</a>
                  </div>
                {{/each}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    {{/each}}
  </div>

  {{> paginate}}

  <hr>

  <div class="button-container">
    <a href="/admin/videos/new" class="btn waves-effect waves-light">Add Video
      <i class="material-icons right">send</i>
    </a>
  </div>

</div>
